.searchBar {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  background: white;
  box-shadow: 0 -2px 6px rgba(223, 223, 223, 0.5);
  padding: 0.5rem 1rem;

  input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 0.9rem;
    color: #818491;              
    &::placeholder {
      color: #818491;             
    }
  }

  .searchIcon {
    margin-right: 0.75rem;
    width: 18px;
    height: 18px;
             
  }

  .clearSearch {
    background: none;
    border: none;
    color: #818491;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}