.projectsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  width: 100%;
}

.menuIcon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  vertical-align: middle;
  fill: #31354D;
}