.header {
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: 1.5rem;
    color: #666;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .homeIcon {
    width: 28px;
    height: 28px;
    color: #030923;
  }

  .authButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
  }

  .authIcon {
    width: 32px;
    height: 32px;
    fill: #030923;
  }
}